.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 25px 10px;
  align-items: center;
}

.icon {
  font-size: 18px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: block;
  cursor: pointer;
  align-items: center;
}

.new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  background-color: #e6eaf1;
  border-radius: 40px;
  color: grey;
  cursor: pointer;
}

.recent {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.5s;
}

.recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.recent-entry {
  display: flex;
  align-items: start;
  gap: 5px;
  padding: 10px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
  font-size: 14px;
}

.recent-entry p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recent-entry:hover {
  background-color: rgb(236, 236, 236);
}

.bottom {
  display: flex;
  flex-direction: column;
}

.bottom-item {
  padding-right: 10px;
  cursor: pointer;
}

@media(max-width:600px){
  .sidebar{
    display: none;
  }
}